/* nav bar */
:root {
    --black: rgba(30,30,30,.99);
}
#nav ul {
    display: flex;
    font-size: .75rem;

}

#nav ul li {
    margin-right: 10px;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--black);
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}
.ham-span{
    display: block;
    height: 2px;
    width: 15px;
    margin: auto 5px;
    background-color: gray;
}
#nav img{
    height: 20px;
    width: 2.5rem;   
    padding-left: 1rem;
}
#nav ul li{
    margin-left: 20px;
    font-size: 1rem;
}
#nav i{
    color: gray;
}

ul li:last-child {
    /* Styles for the <li> with spans */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
/* nav bar */